<!DOCTYPE html>
<html lang="th">

<head>
    <title>Control Panel</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='base/img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ctn.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="all" style="font-family: 'Noto Sans Thai', sans-serif;">
        <div class="left_page">
            <div class="ctl">
                <div class="title_name">
                    <div class="title_name_img">
                        <img src="static/base/img/favicon.png" class="control-panel-image">
                    </div>
                    <div class="title_name_h1">
                        <h1 class="control-panel-title">แผงควบคุม</h1>
                    </div>
                </div>
                <div class="control">
                    <div class="left_control">
                        <button class="button_control" id="left-button">ซ้าย</button>
                    </div>
                    <div class="middle_control">
                        <div class="top_middle_control">
                            <button class="button_control" id="forward-button">เดินหน้า</button>
                        </div>
                        <div class="middle_middle_control">
                            <button class="button_control" id="stop-button">หยุด</button>
                        </div>
                        <div class="below_middle_control">
                            <button class="button_control" id="backward-button">ถอยหลัง</button>
                        </div>
                    </div>
                    <div class="right_control">
                        <button class="button_control" id="right-button">ขวา</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="right_page">
            <div class="status_bar">
                <div class="status_microphone">
                    <div class="microphone-container">
                        <div class="microphone-status" id="microphone-status">Mic Off</div>
                    </div>
                </div>
                <div class="status_battery">
                    <div class="battery-container">
                        <div class="battery-bar" id="battery-bar"></div>
                        <div class="battery-label" id="battery-label">50%</div>
                    </div>
                </div>
            </div>
            <div class="status_route">
                <table id="routes-table" class="display">
                    <thead>
                        <tr>
                            <th>เส้นทาง</th>
                            <th>การดำเนินการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ตารางนี้จะถูกเติมข้อมูลจาก JavaScript -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // เพิ่มส่วนนี้เข้าไปจะถือว่าเป็นการตั้งค่าให้ Datatable เป็น Default ใหม่เลย
        $.extend(true, $.fn.dataTable.defaults, {
            "language": {
                "sProcessing": "กำลังดำเนินการ...",
                "sLengthMenu": " แสดง _MENU_ แถว",
                "sZeroRecords": "ไม่พบข้อมูล",
                "sInfo": "แสดง _START_ ถึง _END_ จาก _TOTAL_ แถว",
                "sInfoEmpty": "แสดง 0 ถึง 0 จาก 0 แถว",
                "sInfoFiltered": "(กรองข้อมูล _MAX_ ทุกแถว)",
                "sInfoPostFix": "",
                "sSearch": "ค้นหา:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "เิริ่มต้น",
                    "sPrevious": "ก่อนหน้า",
                    "sNext": "ถัดไป",
                    "sLast": "สุดท้าย"
                }
            }
        });
    </script>

    <script src="{{ url_for('static', filename='js/ctn.js') }}"></script>
</body>

</html>