<!DOCTYPE html>
<html lang="th">

<head>
    <title>KBU BOT</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <audio id="startAudio" src="{{ url_for('static', filename='base/march_KBU.mp3') }}"></audio>

    <div class="eyes">
        <div class="left_eyes">
            <div class="left_eyes_area">
                <img id="eye_image" src="{{ url_for('static', filename='img/eyes.gif') }}" class="centered-image">
            </div>
        </div>
        <div class="right_eyes">
            <div class="right_eyes_area">
                <img id="eye_image" src="{{ url_for('static', filename='img/eyes.gif') }}" class="centered-image">
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>