<!DOCTYPE html>
<html lang="th">

<head>
    <title>KBU BOT</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='base/img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>

<body>
    
    <div class="eyes">
        <div class="left_eyes">
            <div class="left_eyes_area">
                <img id="eye_image" src="{{ url_for('static', filename='base/img/eyes.gif') }}" class="centered-image">
            </div>
        </div>
        <div class="right_eyes">
            <div class="right_eyes_area">
                <img id="eye_image" src="{{ url_for('static', filename='base/img/eyes.gif') }}" class="centered-image">
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>